* {
    margin: 0%;
    padding: 0%;
        font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 12px rgba(99, 94, 94, 0.1);
    

}
.logo_container {
    margin-left: 4%; 
    
}
.myntra_logo {
   
    height: 45px;
   
}
.action_bar {
    margin-right: 4%;
}
.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;

}
.nav_bar a {
    font-size: 14px;
    letter-spacing: 2px;
    color: #282c3f;
    font-weight: 700;
    text-decoration: uppercase;
    text-decoration: none;
    padding: 28px 0px;
    border-bottom: 4px solid #ffffff;
    
}
.nav_bar a sup {
    margin-left: -6px;
    letter-spacing: -1%;
    color: #ff3f6c;
    font-size: 10px;
    text-transform: uppercase;
}
.nav_bar a:hover {
    border-bottom: 4px solid #f54e77;
    
}
.search_bar {
height: 40px;
width: 35%;
min-width: 200px;
display: flex;
align-items: center;
box-shadow: 0 4px 12px rgba(0,0,0,0.10);

}
.search_icon {
height: 20px;
padding: 10px;
box-sizing: content-box;
background: #f5f5f6;
color: #282c3f;
font-weight: 300;
border-radius: 4px 0px 0px 4px;
}
.search_input {
    color: #696e79;;
    background: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0px 4px 4px 0px;
}
input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.actions {
    display: flex;
    gap: 25px;
    
    margin-right: 25px;
    margin-left: 10px;
}

.action_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #282c3f;
   
   
}

.action_item span {
    font-size: 24px;
}






/*MAIN SECTION*/
.banner_container {
    margin: 40px 0px;
}
.banner_image {
    width: 100%;
}
.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category_items {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.sale_item {
width: 250px;
}
.footer_container {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}
.footer_colum {
    display: flex;
    flex-direction: column;
}
.footer_colum h3 {
    color: #282c3f;
    font-size: 12px;
    margin-bottom: 24px;
}
.footer_colum a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.copy_right {
    
    
    
    color: #94969f;
    padding: 15px;
    text-align: center;
}